time series 
product stats/peak sale time
product waste
store stats
customer order predictions 
sales targets/met?
employee audit/stats

time series 
product stats/peak sale time
product waste
store stats
customer order predictions 
sales targets/met?
employee audit/stats

In [1]:
import pandas as pd
import numpy as np

import matplotlib
import seaborn as sns

import matplotlib.pyplot as plt
import seaborn as sns

from scipy.stats import pearsonr, spearmanr
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv('201904 sales reciepts.csv')

In [8]:
df.loc[123]

transaction_id             575
transaction_date    2019-04-01
transaction_time      17:41:55
sales_outlet_id              3
staff_id                    17
customer_id                269
instore_yn                   N
order                        1
line_item_id                 1
product_id                  55
quantity                     2
line_item_amount           8.0
unit_price                 4.0
promo_item_yn                N
Name: 123, dtype: object

In [10]:
df[df.order != 1]

,transaction_id,transaction_date,transaction_time,sales_outlet_id,staff_id,customer_id,instore_yn,order,line_item_id,product_id,quantity,line_item_amount,unit_price,promo_item_yn
10193,5,2019-04-07,09:59:06,5,29,0,Y,5,1,73,1,3.75,3.75,N
10194,5,2019-04-07,09:59:06,5,29,0,Y,9,9,9,1,28.00,28.00,N
10198,7,2019-04-07,08:35:35,5,14,0,Y,5,1,77,1,3.00,3.00,N
10202,10,2019-04-07,07:37:21,5,14,5256,Y,5,1,71,1,3.75,3.75,N
10205,11,2019-04-07,09:27:50,5,14,5598,N,9,9,9,1,23.00,23.00,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46217,424,2019-04-27,11:24:27,5,29,5227,N,7,1,3,1,14.75,14.75,N
46228,434,2019-04-27,15:11:37,5,27,5219,Y,9,1,82,1,12.00,12.00,N
46261,459,2019-04-27,13:16:07,5,7,5210,Y,7,1,3,1,14.75,14.75,N
46266,462,2019-04-27,15:28:27,5,27,5830,N,7,1,19,1,6.40,6.40,N
46281,1,2019-04-27,10:05:48,8,42,8212,Y,7,1,5,1,15.00,15.00,N

 - FIX TRANSACTION IDs
 - DROP line item id (numbers not making sense)

In [12]:
df[df.transaction_id == 575]

,transaction_id,transaction_date,transaction_time,sales_outlet_id,staff_id,customer_id,instore_yn,order,line_item_id,product_id,quantity,line_item_amount,unit_price,promo_item_yn
123,575,2019-04-01,17:41:55,3,17,269,N,1,1,55,2,8.00,4.00,N
124,575,2019-04-01,17:41:55,3,17,269,N,1,5,71,1,3.75,3.75,N
5674,575,2019-04-04,13:44:15,5,12,5236,Y,1,1,31,2,4.40,2.20,N
9252,575,2019-04-06,09:27:30,8,15,8005,N,1,1,39,1,4.25,4.25,N
9253,575,2019-04-06,09:27:30,8,15,8005,N,1,5,74,1,3.50,3.50,N
26377,575,2019-04-16,08:49:22,5,12,0,Y,1,1,23,3,7.50,2.50,N
27631,575,2019-04-17,09:44:32,3,20,0,Y,1,1,40,1,3.75,3.75,N
27632,575,2019-04-17,09:44:32,3,20,0,Y,1,2,84,1,0.80,0.80,N
28862,575,2019-04-17,11:01:41,8,44,0,Y,1,1,27,2,7.00,3.50,N
28863,575,2019-04-17,11:01:41,8,44,0,Y,1,5,73,1,3.75,3.75,N
34111,575,2019-04-20,16:49:58,5,27,5265,N,1,1,49,1,3.00,3.00,N
36174,575,2019-04-21,09:55:02,8,15,8417,Y,1,1,61,1,4.75,4.75,N
37748,575,2019-04-22,07:16:18,8,6,8263,N,1,1,42,2,5.00,2.50,N
38883,575,2019-04-23,10:06:37,5,26,5049,Y,1,1,24,3,9.00,3.00,N
38884,575,2019-04-23,10:06:37,5,26,5049,Y,1,5,77,1,3.00,3.00,N
47817,575,2019-04-28,09:07:36,5,12,5006,Y,1,1,24,2,6.00,3.00,N
47818,575,2019-04-28,09:07:36,5,12,5006,Y,1,5,78,1,4.50,4.50,N
48306,575,2019-04-28,19:25:02,8,42,0,Y,1,1,56,2,5.10,2.55,N
48523,575,2019-04-29,19:30:58,3,16,0,N,1,1,59,2,9.00,4.50,N

### Need to redo the transaction id

In [99]:
df.transaction_id = 0
df.transaction_id = df.transaction_id.astype(int)

In [ ]:
id = 1
for current_row in range(len(df)):
    if df.loc[current_row, 'transaction_id'] == 0:
        df.loc[current_row, 'transaction_id'] = id
        for row in range(current_row, len(df)):
            if df.loc[current_row, 'transaction_date'] == df.loc[row, 'transaction_date']:
                if (df.loc[current_row, 'transaction_time'] == df.loc[row, 'transaction_time'] ) & (df.loc[current_row, 'sales_outlet_id'] == df.loc[row, 'sales_outlet_id']):
                    df.loc[row, 'transaction_id'] = id
            else:
                break
        id+=1
    else:
        pass

In [90]:
(df.loc[28, 'transaction_time'] == df.loc[29, 'transaction_time']) & (df.loc[28, 'transaction_date'] == df.loc[29, 'transaction_date']) & (df.loc[28, 'sales_outlet_id'] == df.loc[29, 'sales_outlet_id'])

True

In [98]:
df.head(50)

,transaction_id,transaction_date,transaction_time,sales_outlet_id,staff_id,customer_id,instore_yn,order,line_item_id,product_id,quantity,line_item_amount,unit_price,promo_item_yn
0,1,2019-04-01,12:04:43,3.0,12.0,558.0,N,1.0,1.0,52.0,1.0,2.50,2.50,N
1,2,2019-04-01,15:54:39,3.0,17.0,781.0,N,1.0,1.0,27.0,2.0,7.00,3.50,N
2,3,2019-04-01,14:34:59,3.0,17.0,788.0,Y,1.0,1.0,46.0,2.0,5.00,2.50,N
3,4,2019-04-01,16:06:04,3.0,12.0,683.0,N,1.0,1.0,23.0,2.0,5.00,2.50,N
4,5,2019-04-01,19:18:37,3.0,17.0,99.0,Y,1.0,1.0,34.0,1.0,2.45,2.45,N
5,6,2019-04-01,18:54:46,3.0,17.0,664.0,Y,1.0,1.0,32.0,1.0,3.00,3.00,N
6,7,2019-04-01,13:03:49,3.0,12.0,316.0,N,1.0,1.0,49.0,2.0,6.00,3.00,N
7,8,2019-04-01,11:21:14,3.0,12.0,38.0,N,1.0,1.0,60.0,1.0,3.75,3.75,N
8,9,2019-04-01,19:30:55,3.0,12.0,370.0,Y,1.0,1.0,51.0,2.0,6.00,3.00,N
9,10,2019-04-01,12:01:00,3.0,12.0,180.0,Y,1.0,1.0,49.0,2.0,6.00,3.00,N
10,11,2019-04-01,13:20:51,3.0,12.0,35.0,Y,1.0,1.0,35.0,2.0,6.20,3.10,N
11,12,2019-04-01,11:40:20,3.0,17.0,595.0,N,1.0,1.0,47.0,1.0,3.00,3.00,N
12,13,2019-04-01,12:27:43,3.0,12.0,500.0,N,1.0,1.0,25.0,2.0,4.40,2.20,N
13,14,2019-04-01,17:37:02,3.0,17.0,128.0,Y,1.0,1.0,23.0,2.0,5.00,2.50,N
14,15,2019-04-01,12:26:34,3.0,17.0,599.0,Y,1.0,1.0,48.0,2.0,5.00,2.50,N
15,16,2019-04-01,14:33:32,3.0,17.0,152.0,Y,1.0,1.0,53.0,2.0,6.00,3.00,N
16,17,2019-04-01,16:11:18,3.0,17.0,65.0,N,1.0,1.0,40.0,1.0,3.75,3.75,N
17,18,2019-04-01,13:03:38,3.0,12.0,90.0,Y,1.0,1.0,37.0,2.0,6.00,3.00,N
18,19,2019-04-01,18:25:04,3.0,12.0,82.0,Y,1.0,1.0,60.0,1.0,3.75,3.75,N
19,20,2019-04-01,15:51:44,3.0,12.0,174.0,N,1.0,1.0,53.0,2.0,6.00,3.00,N
20,21,2019-04-01,13:58:40,3.0,12.0,116.0,N,1.0,1.0,41.0,2.0,8.50,4.25,N
21,22,2019-04-01,11:49:29,3.0,17.0,189.0,Y,1.0,1.0,38.0,2.0,7.50,3.75,N
22,23,2019-04-01,17:01:36,3.0,17.0,131.0,Y,1.0,1.0,40.0,1.0,3.75,3.75,N
23,24,2019-04-01,11:10:04,3.0,17.0,264.0,Y,1.0,1.0,40.0,1.0,3.75,3.75,N
24,25,2019-04-01,13:17:42,3.0,17.0,722.0,Y,1.0,1.0,38.0,1.0,3.75,3.75,N
25,26,2019-04-01,14:07:25,3.0,17.0,302.0,Y,1.0,1.0,50.0,1.0,2.50,2.50,N
26,27,2019-04-01,13:17:00,3.0,12.0,174.0,Y,1.0,1.0,59.0,2.0,9.00,4.50,N
27,28,2019-04-01,12:24:53,3.0,17.0,604.0,Y,1.0,1.0,28.0,1.0,2.00,2.00,N
28,29,2019-04-01,12:30:00,3.0,17.0,32.0,N,1.0,1.0,34.0,1.0,2.45,2.45,N
29,29,2019-04-01,12:30:00,3.0,17.0,32.0,N,1.0,5.0,77.0,1.0,3.00,3.00,N
30,30,2019-04-01,19:07:40,3.0,17.0,470.0,N,1.0,1.0,55.0,1.0,4.00,4.00,N
31,31,2019-04-01,16:44:46,3.0,12.0,127.0,Y,1.0,1.0,54.0,2.0,5.00,2.50,N
32,32,2019-04-01,19:54:12,3.0,17.0,553.0,Y,1.0,1.0,47.0,1.0,3.00,3.00,N
33,33,2019-04-01,17:52:36,3.0,17.0,518.0,Y,1.0,1.0,45.0,2.0,6.00,3.00,N
34,34,2019-04-01,14:24:55,3.0,12.0,112.0,Y,1.0,1.0,41.0,2.0,8.50,4.25,N
35,34,2019-04-01,14:24:55,3.0,12.0,112.0,Y,1.0,5.0,79.0,1.0,3.75,3.75,N
36,35,2019-04-01,17:26:58,3.0,17.0,437.0,N,1.0,1.0,37.0,2.0,6.00,3.00,N
37,36,2019-04-01,17:03:21,3.0,17.0,552.0,N,1.0,1.0,50.0,1.0,2.50,2.50,N
38,37,2019-04-01,15:03:55,3.0,12.0,194.0,Y,1.0,1.0,43.0,1.0,3.00,3.00,N
39,38,2019-04-01,14:54:27,3.0,17.0,788.0,N,1.0,1.0,38.0,2.0,7.50,3.75,N
40,39,2019-04-01,16:30:12,3.0,12.0,533.0,Y,1.0,1.0,40.0,1.0,3.75,3.75,N
41,40,2019-04-01,12:09:11,3.0,17.0,521.0,N,1.0,1.0,28.0,2.0,4.00,2.00,N
42,41,2019-04-01,15:48:10,3.0,17.0,512.0,Y,1.0,1.0,41.0,1.0,4.25,4.25,N
43,42,2019-04-01,19:04:32,3.0,17.0,178.0,Y,1.0,1.0,23.0,1.0,2.50,2.50,N
44,43,2019-04-01,14:30:49,3.0,12.0,416.0,Y,1.0,1.0,32.0,2.0,6.00,3.00,N
45,44,2019-04-01,11:15:38,3.0,12.0,22.0,Y,1.0,1.0,52.0,1.0,2.50,2.50,N
46,45,2019-04-01,18:14:31,3.0,12.0,642.0,Y,1.0,1.0,61.0,2.0,9.50,4.75,N
47,46,2019-04-01,11:52:08,3.0,12.0,189.0,N,1.0,1.0,58.0,1.0,3.50,3.50,N
48,47,2019-04-01,16:04:10,3.0,17.0,223.0,N,1.0,1.0,42.0,2.0,5.00,2.50,N
49,48,2019-04-01,19:25:00,3.0,12.0,40.0,Y,1.0,1.0,53.0,1.0,3.00,3.00,N

True

In [78]:
'12:30:00' == '12:30:00'

True